<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @sound.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sound.description %>
</p>

<%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
