<%= form_with(model: user_sound, local: true) do |form| %>
  <% if user_sound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_sound.errors.count, "error") %> prohibited this user_sound from being saved:</h2>

      <ul>
        <% user_sound.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :sound_id %>
    <%= form.text_field :sound_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
