<p id="notice"><%= notice %></p>

<h1>User Sounds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Sound</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sounds.each do |user_sound| %>
      <tr>
        <td><%= user_sound.user_id %></td>
        <td><%= user_sound.sound_id %></td>
        <td><%= link_to 'Show', user_sound %></td>
        <td><%= link_to 'Edit', edit_user_sound_path(user_sound) %></td>
        <td><%= link_to 'Destroy', user_sound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Sound', new_user_sound_path %>
